<div class="w-full bg-white p-12">
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-12" infiniteScroll [infiniteScrollDistance]="2"  (scrolled)="onScroll()">

    <div *ngFor="let character of characters"
      class="overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 cursor-pointer m-auto">
      <a [routerLink]="[ '/character', character.id ]" class="w-full block h-full">
        <img alt="blog photo" src="{{character.image}}" class="max-h-40 w-full object-cover" />
        <div class="bg-white dark:bg-gray-800 w-full p-4">
          <p class="text-indigo-500 text-md font-medium">
            {{character.name}}
          </p>
          <p class="text-gray-800 dark:text-white text-xl font-medium mb-2">
            {{character.status}} - {{character.species}}
          </p>
          <p class="text-gray-400 dark:text-gray-300 font-light text-md">
            Last known location:
          </p>
          <p class="mb-4 text-base leading-relaxed">
            {{character.location.name}}
          </p>
        </div>
      </a>
    </div>

  </div>
</div>